<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Disappearing Ninja</title>
		<meta name="description" content="Enter Content Description Here">
		<link rel="stylesheet" type="text/css" href="#">
		<!-- Enter CSS stylesheet file here -->

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">

		//JS code here

		</script>
	</head>
	<style>
		*{
			margin: 0;
			padding: 0;
			background: #66FF33;
		}
		body{
			margin: auto;
			text-align: center;
		}
		#ninjaNone{
			color: white;
			font-size: 3.5em;
			text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
			margin-top: 200px;
		}
	</style>
	<body>
		<h1 id="ninjaNone">No Ninjas Here :-(</h1>
	</body>
</html>
